@import 'tailwindcss';

@theme {
  --color-berry-100: #ffebf8;
  --color-berry-300: #e34874;
  --color-berry-500: #6f1c3a;
  --color-crow-900: #1a1b20;
}

.payipt {
 @apply w-full bg-crow-900 border-2 border-berry-500 rounded-full px-5 py-3.5 text-white text-sm placeholder-gray-400 shadow-[2px_2px_0_#bb6b88] transition-all duration-200
}

.paybtn {
 @apply flex-1 py-3.5 rounded-full font-semibold text-sm border border-[#222025] bg-gradient-to-r from-[#3a373e] to-[#222025] text-berry-300 shadow-[0_0_25px_rgba(10,20,50,0.7),0_0_10px_rgba(255,255,255,0.5)] text-shadow-[0_0_8px_#e34874] transition-all duration-200 flex items-center justify-center gap-2 
}
.paybtnDisabled {
 @apply opacity-50 cursor-not-allowed
}
.paybtnHF {
 @apply hover:text-berry-100
}

.paylabel {
  @apply text-white text-xs block mb-2 ml-1
}

.paybtnStyle {
  @apply flex-1 py-3.5 rounded-full font-semibold text-sm border border-[#222025] bg-gradient-to-r from-[#3a373e] to-[#222025] text-[#e34874] shadow-[0_0_25px_rgba(10,20,50,0.7),0_0_10px_rgba(255,255,255,0.5)] text-shadow-[0_0_8px_#e34874] hover:text-[#ffebf8] transition-all duration-200 flex items-center justify-center gap-2 disabled:opacity-50
}